.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.floating-highlight-blue {
  position: absolute;
  width: 544px;
  height: 1080px;
  left: 1920px;
  top: 1080px;

  background: linear-gradient(
    63.4deg,
    rgba(46, 212, 226, 0.29) 0%,
    rgba(46, 212, 226, 0) 50.31%
  );
  transform: rotate(180deg);
}
.floating-highlight-red {
  position: absolute;
  width: 544px;
  height: 1080px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    63.4deg,
    rgba(252, 66, 133, 0.29) 0%,
    rgba(252, 66, 133, 0) 50.31%
  );
}
